body{
    font-family: "Montserrat",sans-serif;
    background-color: #1b1b1b;
    margin:0;
    padding:0;
}
h1{
    color: #e6e6e6;
    font-size: 2.5 rem;
}
h2{
    color:#b0b0b8;
    font-size: 1.4 rem;
}

/*this is the navigation css*/
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 10px 0px;
    background-color: rgba(50,50,60,0.95);
    box-shadow: rgba(0,0,0,0.52);
    z-index: 1000;
}

nav ul{
    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

nav li{
    margin:0;
}

nav a{
    font-size:16px;
    color: #e6e6e6;
    transition: color 0.3s;
    text-decoration: none;
    padding: 10px;
    position:relative;
    border-bottom: 0.3s;
    padding-bottom: 5px;
}

nav a:hover{
    color:#1b1b20;
    border-bottom: 2px solid #e6e6e6;
}

/*this is the header css*/
.header-section{
    
    background-image: url(images/yatch2.jpg);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    padding-top: 60px;
    padding: 2rem;
    position:relative;
    

}
.header-section::before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: rgba(0,0,0,0.52);
    z-index:0;
}
.header-content,.header-btn{
    position:relative;
    z-index:1;
}
.header-btn button{
    font-size:16px;
    border:2px solid #b0b0b8;
    background-color: rgba(0,0,0,0.15);
    padding: 15px 30px;
    border-radius:3px;
    color:#e6e6e6;
    
}

.header-btn button:hover{
    border:3px solid #e6e6e6;
    transition: 0.15s;
    font-size: 18px;
}
.header-btn a{
    color:#e6e6e6;
    text-decoration: none;
}

/*this is the home page middle section*/

.section-content{
    background-color: rgb(255,255,255,0.05);
    border-radius: 8px;
    padding:20px;
    margin:60px auto;
    max-width: 700px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    
}
.section-content h2{
    font-size: 24px;
    color:#e6e6e6;
    margin-bottom: 20px;
    border-bottom: 2px solid #e6e6e6;
    display:inline;
}
.section-content p{
    font-size: 18px;
    color:#e6e6e6;
    line-height: 1.6;
}

/*this is the footer css*/

footer{
    background-color: rgba(50,50,60,0.95);
    padding:30px;
    padding-bottom: -20px;
    color:#e6e6e6;
}
.footer-content{
    text-align:center;
    margin:0;
}
.footer-links{
    list-style: none;
    padding:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.footer-links a{
    text-decoration: none;
    color:#e6e6e6;
}
.footer-links a:hover{
    color:aqua;
    border-bottom:2px solid #e6e6e6;
}
.footer-social a{
    color:#e6e6e6;
    font-size: 24px;
    margin:0px 10px;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-social a:hover{
    color:aqua;
    transition: color 0.3s;
}

/*gallery page content*/

.gallery-content{
    margin-top: 50px;
}
.gallery{
    display:grid;
    grid-template-columns:  1fr 1fr 1fr;
    width:90vw;
    margin: 20px auto;
}
figure{
    margin:10px;
    padding:0px;
    position:relative;

}
figure img{
    width:100%;
}
.gallery img{
    padding: 0px;
    position:relative;
    width:100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px #ccc;
    border: 2px solid #fff;
    z-index:-1;
}
figcaption{
    background-color: rgba(255,255,255,0.5);
    width:100%;
    text-align: center;
    color:#5e423f;
    z-index:1;
    padding: 9px 0px 11px 0px;
    text-transform: uppercase;
    font-size:1vw;
    position:absolute;
    bottom:6px;
}
@media (max-width:800px){
    figcaption{
        font-size: 2vw;
    }
    .gallery{
        grid-template-columns: 1fr 1fr;
        width:90vw;
    }
}
@media (max-width:600px){
    figcaption{
        font-size: 3vw;
    }
    .gallery{
        grid-template-columns: 1fr;
        width:90vw;
    }
}

    
/* about us page */

.two-column-div{
    display:flex;
    justify-content:space-between;
    margin-top: 80px;
    margin-left: 70px;
    margin-bottom:50px;
    margin-right:20px;
}
.column{
    flex-basis: 48%;      
}
.column img{
    position:sticky;
    top:60px;
    width:100%;
    height:auto;
}
.about-section{
    background-color: rgba(255,255,255,0.05);
    padding:20px;
    max-width: 800px;
}
.about-section h2{
    color:#e6e6e6;
    font-size: 24px;
    border-bottom:2px solid #e6e6e6;
    display:inline-block; 
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.about-section p{
    color:#e6e6e6;
    font-size: 18px;
    line-height: 1.6;
    margin:0px;
}
@media (max-width:800px) {
    .two-column-div{
        flex-direction: column;
    }
}
/* about us page click me section*/

.click-section{
    background-color: rgba(100, 236, 213, 0.2);
    padding:30px;
    text-align: center;
}
/* Tours Page */

.tours-main-div{
    margin-top:50px;
}
.main-package{
    display:flex;
    justify-content:space-between;
    background-color: rgba(255,255,255,0.05);
    border-radius: 8px;
    padding:20px;
    margin:30px;
    margin-top:-10px;
}
.container img{
    width:350px;
    height:200px;
    border-radius: 2px;

}
.container2{
    padding:0px 20px;
    color:#e6e6e6;
   
}
.container2 h2{
    color:#e6e6e6;
    font-size: 24px;
    border-bottom:2px solid #e6e6e6;
    display:inline-block; 
    margin-bottom: 10px;
}
.container2 p{
    color:#e6e6e6;
    font-size: 18px;
}