body{
    font-family: "Montserrat",sans-serif;
    background-color: #1b1b1b;
}
h1{
    color: #e6e6e6;
    font-size: 2.5 rem;
}
h2{
    color:#b0b0b8;
    font-size: 1.4 rem;
}
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 10px 0px;
    background-color: rgba(50,50,60,0.95);
    box-shadow: rgba(0,0,0,0.52);
    z-index: 1000;
}

nav ul{
    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

nav li{
    margin:0;
}

nav a{
    font-size:16px;
    color: #e6e6e6;
    transition: color 0.3s;
    text-decoration: none;
    padding: 10px;
    position:relative;
    border-bottom: 0.3s;
    padding-bottom: 5px;
}

nav a:hover{
    color:#1b1b20;
    border-bottom: 2px solid #e6e6e6;
}
.header-section{
    
    background-image: url(images/yatch2.jpg);
    background-size: cover;
    background-position:center center;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    padding-top: 60px;
    padding: 2rem;
    position:relative;
    background-repeat: no-repeat;

}
.header-section::before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: rgba(0,0,0,0.52);
    z-index:0;
}
.header-content,.header-btn{
    position:relative;
    z-index:1;
}
.header-btn{
    
}
